{
  "extends": ["airbnb","plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import","lodash","flowtype","flowtype-errors"],
  "rules": {
    "linebreak-style": [ "error", "windows" ],
    "comma-dangle": ["error", "never"],
    "global-require": "off",
    "react/prop-types": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/anchor-has-content": "off",
    "no-underscore-dangle": "off",
    "lodash/prefer-lodash-method": [2],
    "flowtype-errors/show-errors": 2,
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
