.content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}

.contentColumn {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.listBlock {
  border-style: solid;
  border-color: #000;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
}

.listBlock li {
  cursor: pointer;
  margin: 2px 0;
}

.listBlock ul {
  margin: 0;
}

.formBlock {
  padding: 5px;
}

input,
textarea,
.btn {
  border: solid 2px #000;
}

.btn {
  margin-top: 10px;
  background-color: #fff;
  color: #000;
}

hr {
  height: 2px;
  border-width: 0;
  color: #000;
  background-color: #000;
}

.selected {
  background-color: #4920d0;
  color: #fff;
}
