.content {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.listBlock {
  box-sizing: border-box;
  border-style: solid;
  border-color: #000;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
}

.listBlock li {
  cursor: pointer;
  margin: 2px 0;
}

.listBlock ul {
  margin: 0;
}

.listBlock li > ul {
  color: #606060;
  margin-left: 20px;
}

.bigBoard {
  margin: 5px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #000;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  align-items: center;
}

hr {
  height: 2px;
  border-width: 0;
  color: #000;
  background-color: #000;
}

.selected {
  background-color: #4920d0;
  color: #fff;
}
